/* Onyx color */

background {
    background-color: #353c3f;
}


/* Fawn color */
h1 {
        background-color: #e2ad6a;
}

/* Pale Silver color */
h1 {
    background-color: #C7B8B8;
}

/* Dim Gray color */
h1 {
    background-color: #676A6A;
}

/* Nickel color */
h1 {
    background-color: #867170;
}