body {

    background: url(https://i.pinimg.com/originals/9f/87/90/9f8790562aeec07708b82649bd4344fb.jpg);
	background-size: 100%;
    background-repeat: no-repeat;
    fill-opacity: (70%);
}

.jumbotron {
    background-color: inherit
}


label {
background-color: inherit;
color: black;

}

h1.display-3 {
    color: black;
    font-size: 50px;
}

#eventOut {
    overflow-y: scroll;
    height: 200px;
}